# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
.env
.venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Docker
*.tar

# Kubernetes (optional temp files)
*.yaml.bak

# Secrets
.env